SimplestTreeParser/src/test/java/com/html5parser/XMLValidator/minimalDom.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="html">
		<xs:complexType>
			<xs:sequence>
			  <xs:element ref = "head"/>
			  <xs:element ref = "body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="head" type = "xs:string"></xs:element>
	<xs:element name="body" type = "xs:string"></xs:element>
</xs:schema>